<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash Validator</title>
</head>
<body>

    <div>
        <h1>Veja se o seu arquivo não foi comprometido</h1>
        <p>Basta inserir o arquivo junto do hash recebido e você vai obter o resultado</p>
    </div>

    <div>
        <input type="file" id="arquivoEnviado">
        <button>
            Enviar
        </button>
    </div>


    
</body>
</html>